<%- include('partials/header'); %>

<h1>Login</h1>
<div class="form-group">
    <form action="/login" method="POST">
        <div class="form-control">
            <input type="text" name="username" placeholder="Username">
        </div>
        <div class="form-control">
            <input type="password" name="password" placeholder="password">
        </div>
        <button class="btn btn-primary btn-lg">Login</button>
    </form>
</div>
<%- include('partials/footer'); %>
